@import "./variable";


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Lato', sans-serif;
}


.navbarContainer {
  background-color: aqua;
  height: 13vh;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: flex-end;
  .logo {
    justify-content: center;
    margin-left: 10px;
    text-align: center;
  h1 {
    
  }
}
  
}
